html,body{
	margin:0;
	padding: 0;
}

.header{
	padding: 20px 0 60px 0;
	background-color: #009688;
	border-bottom: 3px solid slateblue;
}

.mylogo h2{
	float: left;
	margin: 5px 0 0 80px;
	font-family: cursive;
}

.mylogo a{
	text-decoration: none;
	color: orange;
}

.navbar{
	float: right;
	margin: 0 70px 0 0;
}

.navbar li{
	list-style-type: none;
	display: inline;
	padding: 0 30px 0 10px;
}

.navbar li a{
	text-decoration: none;
	color: white;
}

.navbar a:hover{
	color: orange;
	text-decoration: underline;
}

.navbar button{
	/* background-color: orange; */
	border: none;
	border-radius: 5px;
	padding: 5px 8px 5px 8px;
}

.navbar button a{
	text-decoration: none;
	color: black;
}

.navbar button a:hover{
	text-decoration: none;
	color: none;
}

/*......section_0.........*/

.section_0{
	text-align: center;
	background-image:url(bg1.3.1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	padding: 100px 0 180px;
}
.section_0 h1{
	padding: 100px 0 70px 0;
	color: white;
	font-size: 50px;
}

.section_0 button{
	border: none;
	color: white;
	border-radius: 10px;
	background-color:#ffa500;
	padding: 10px 20px 10px 20px;
}

/*....section 1......*/

.section_1{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 100px;
}

.section_1 h1{
	padding-bottom: 10px;
	font-weight: 400;
	color: orange;
}

.p1{
	padding: 10px 0 40px 0;
	font-size: 30px;
	font-weight: 200;
}

.p-head{
	padding: 20px 0 20px 0;
	background-color: #f4511e;
	color: white;
}

.p-body{
	background-color: #dcdcdc;
	padding: 30px 0px 30px 0px;
}

.p-price{
	color: white;
	background-color:#4abdac;
	padding: 8px 0 8px 0;
}

.p-price button{
	background-color: orange;
	border: none;
	border-radius: 5px;
	padding: 8px 20px 8px 20px;
}

.p-price a{
	color: white;
	text-decoration: none;
}

.ultimate{
	box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.basic,.deluxe{
	box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.2), 0 3px 15px 0 rgba(0, 0, 0, 0.19);
}

/*.........section_2.......*/

.section_4{
	background-color:darkslateblue;
	padding: 30px;
}

.section_4 h2{
	color: white;
}

.section_4 input{
	border: none;
	width: 250px;
	padding: 5px;
	margin-top: 5px;
}

.section_4 button{
	background-color: orange;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

.section_4 button a{
	color: white;
	text-decoration: none;
}

/*........Section_2.......*/
.section_2{
	background-color: cornsilk;
	padding: 80px 0 100px 0;
	text-align: center;
}

.section_2 h2{
	padding-bottom: 40px;
	font-size: 40px;
	color:seagreen; 
}

.section_2 img{
	width: 450px;
	height: 250px;
}

.section_2 p{
	font-family: Georgia, serif;
}

/*......section 2(About us)........*/

.abt{
	padding: 40px 0 100px 0;
	text-align: center;
}

.about{
	text-align: center;
}

.about h1{
	padding: 10px 0 40px 0;
	font-weight: 200;
}

.about img{
	border-radius: 10px;
	width: 700px;
	height: 400px;
	box-shadow: 7px 7px 5px grey;
}

.about p{
	padding-top: 30px;
	padding-left: 150px;
	padding-right: 150px;
}

/*..........section 3.............*/

.section_3{
	text-align: center;
	background-color: #dcdcdc;
	padding:40px 0 100px 0;
}

.contact p{
	padding: 20px;
	font-size: 30px;
	font-weight: 200;
}

.contact h1{
	color: #d23f71;
	padding: 30px;
}

.contact input{
	width: 250px;
	padding: 5px;
	text-align: center;
}

.contact textarea{
	padding: 5px;
	border: 1px solid grey;
}

.contact button {
	border: none;
	background-color: #009688;
	padding: 10px 50px 10px 50px;
	border-radius: 5px;
	margin-bottom: 40px;
}

.contact button a{
	color: white;
	text-decoration: none;
}

footer{
	background-color: blueviolet;
	text-align: center;
	padding: 40px;
}

.info_1 span a{
	padding: 10px;
	color: white;
}

/*.........Sign up........*/
.input{
	text-align: center;
	width: 250px;
	height: 30px;
}

.btn{
	border: none;
	border-radius: 5px;
	background-color: darkslateblue;
	padding: 10px 15px 10px 15px;
	color: white;
}

.btn a{
	text-decoration: none;
	color: white;
}

.sign_frm{
	text-align: center;
	padding: 70px 0 120px 0;
}

/* ........login........ */
.log_frm{
	text-align: center;
	padding: 130px 0 200px 0;
}
